body {
  background-color: #FAFAFA;
}

.main-container {
  height: 100%;
}

.full-left{
  background-color: #23212E;
  height: 100vh;
  width: 50%;
  top: 0;
  position: absolute;
  z-index: -1;
  text-align: center;
  padding-top: 50vh;
  color: #CF656F;
  font-size: 10vh;
}

.full-right{
  background-color: #FAFAFA;
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  color: #CF656F;
}

.login-form{
    padding-top: 50vh;
}

.register-form{
  padding-top: 20vh;
}

.nav-left{
  background-color: #181621;
  height: 100vh;
  width: 250px;
  top: 0;
  position: fixed;
  z-index: -1;
  text-align: center;
  padding-top: 10px;
  color: #FFF;
}

.main-content{
  background-color: #FAFAFA;
  position: absolute;
  padding-left: 250px;
  height: 100%;
  width: 100%;
  z-index: -100;
}

.nav-pic{
  height: 100px;
  border: 3px solid #fff;
  display: block;
  margin: auto;
}

.nav-line {
  display: block;
}

.nav-top {
  background-color: #23212E;
}

.nav-bottom {
  text-align: left;
  color: #777;
}

.search-icon {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin: 50%;
}

.search-input {
  color: #777;
}

.search-input:focus{
    outline: none;
    color: #888;
}

.logout-btn{
  margin: 20px 0 20px 0;
  width: 150px;
}

.job-card{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  border-radius: 15px;
}

.profile-card{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
}

.card-text {
  font-weight: normal;
  font-size: 14px;
}

.action-btn {
  width: 100px;
}
