{% extends "layout.html" %}
{% block title %}Qualification Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="main-container">
  <div class="nav-left">
    <div class="nav-top">
      <img src="{{ url_for('static', filename='placeholder.png') }}" class="nav-pic rounded-circle">
      <span class="nav-line"><b>{{session['username']|upper}}</b></span>
      <span class="nav-line">{{numApps}} Applications Submitted</span>
      <span class="nav-line"><a href="/">Home</a> | <a href="/profile/{{session['userid']}}">Profile</a></span>
      <a href="/logout"><button type="button" class="btn btn-light logout-btn">Logout</button></a>
    </div>
    <div class="nav-bottom">
      

    </div>
  </div>

  <div class="main-content">
    <div class="card profile-card">
      <div class="card-body">
        <h3 class="card-title">{{user.username|capitalize}}'s Qualification Profile</h3>
        <table class="table">
          {% if error %}<div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ error }}</div>{% endif %}
          <form action="" method="post">
          <tbody>
            <tr>
              <th scope="row">About Me</th>
              <td><textarea class="form-control" id="introfield" name="introduction" rows="3">{{user.introduction}}</textarea></td>
            </tr>
            <tr>
              <th scope="row">Achievements</th>
              <td><textarea class="form-control" id="achievfield" name="achievements" rows="3">{{user.achievements}}</textarea></td>
            </tr>
            <tr>
              <th scope="row">Skills</th>
              <td><textarea class="form-control" id="skillsfield" name="skills" rows="3">{{user.skills}}</textarea></td>
            </tr>
            <tr>
              <th scope="row">Education</th>
              <td><textarea class="form-control" id="edufield" name="education" rows="3">{{user.education}}</textarea></td>
            </tr>
            <tr>
              <th scope="row">Work Experience</th>
              <td><textarea class="form-control" id="expfield" name="experience" rows="3">{{user.experience}}</textarea></td>
            </tr>
          </tbody>
        </table>
        {% if user.id == session['userid'] %}
          <button type="submit" class="btn btn-default card-link float-right">Save Changes</button>
        {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
