{% extends "layout.html" %}
{% block title %}Job Openings{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="main-container">
  <div class="nav-left">
    <div class="nav-top">
      <img src="{{ url_for('static', filename='placeholder.png') }}" class="nav-pic rounded-circle">
      <span class="nav-line"><b>{{session['username']|upper}}</b></span>
      <span class="nav-line">{{numApps}} Applications Submitted</span>
      <a href="/logout"><button type="button" class="btn btn-light logout-btn">Logout</button></a>
    </div>
    <div class="nav-bottom">
      <form>
        <div class="form-group row">
          <div class="col-sm-2">
            <span class="oi oi-magnifying-glass search-icon" title="magnifying glass" aria-hidden="true"></span>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control-plaintext search-input" id="searchBox" placeholder="Search">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="main-content">
    {% if not jobs %}
      <div class="job-card">
        <b>No open job postings currently.</b>
      </div>
    {% else %}
      {% for job in jobs %}
        <div class="card job-card">
          <div class="card-body">
            <h5 class="card-title">{{job.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Some Company | Pittsburgh, PA | Posted 3 Days ago</h6>
            <p class="card-text">{{job.description}}</p>
            <button type="button" class="btn btn-success card-link action-btn">Apply</button>
            <a href="#" class="card-link">More Details</a>
            <button type="button" class="btn btn-danger card-link float-right action-btn">Skip</button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
