{% extends "layout.html" %}
{% block title %}Qualification Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="main-container">
  <div class="nav-left">
    <div class="nav-top">
      <img src="{{ url_for('static', filename='placeholder.png') }}" class="nav-pic rounded-circle">
      <span class="nav-line"><b>{{session['username']|upper}}</b></span>
      <span class="nav-line">{{numApps}} Applications Submitted</span>
      <span class="nav-line"><a href="/">Return to the homepage</a></span>
      <a href="/logout"><button type="button" class="btn btn-light logout-btn">Logout</button></a>
    </div>
    <div class="nav-bottom">
      

    </div>
  </div>

  <div class="main-content">
    <div class="card profile-card">
      <div class="card-body">
        <h3 class="card-title">{{user.username|capitalize}}'s Qualification Profile</h3>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">About Me</th>
              <td>{{user.introduction}}</td>
            </tr>
            <tr>
              <th scope="row">Achievements</th>
              <td>{{user.achievements}}</td>
            </tr>
            <tr>
              <th scope="row">Skills</th>
              <td>{{user.skills}}</td>
            </tr>
            <tr>
              <th scope="row">Education</th>
              <td>{{user.education}}</td>
            </tr>
            <tr>
              <th scope="row">Work Experience</th>
              <td>{{user.experience}}</td>
            </tr>
          </tbody>
        </table>
        {% if user.id == session['userid'] and session['usertype'] != "Employer" %}
          <a href="/editprofile"><button type="button" class="btn btn-default card-link float-right action-btn">Edit Profile</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
